@import '../../styles/main.scss';

.login{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        width: 350px;
    }

    &__title {
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        border: 1px solid gray;
        border-radius: 4px;
        height: 50px;
        padding: 0 10px;
        font-size: $font-lg;
        margin-bottom: 10px;
    }

}